

body{
    margin: 0;  
    background-color: #F5F4EF;  
}

.screen_main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4EF;
}



.writeBtn {
    background-color:  rgb(255, 225, 56);
    border-radius: 100%;
    border: none;
    font-size: 50px;
    width: 15vw;
    height: 15vw;
    max-width: 70px;
    max-height: 70px;

    position: fixed;
    top: 75vh;
    right: 5vw;
}



/* 위는 기본 */









